# Copy this file to .env and fill in real values
DB_HOST=DBHUB.cspencerltd.co.uk
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=SHEQ
DALUX_API_KEY=
DALUX_BASE_URL=https://node2.field.dalux.com/service/api
APP_NAME=Dalux Report Portal
DEBUG=true
